.tagline {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 3rem;
    width: 100%;
    text-align: center;
}

.bubble {
    cursor: pointer;
}

.bubbleTitle {
    font-size: 1.5rem;
    font-family: Roboto;
    text-anchor: middle;
    alignment-baseline: middle;
}

#vis {
    width:  min(700px, 100%);
    margin-left: auto;
    margin-right: auto;
    flex-grow : 1;
}

.key {
    position: fixed;
    left: 3rem;
    bottom: 1rem;
}

.key-label, .key-info {
    height: 3rem;
    font-size: 1rem;
    line-height: 3rem;
    text-align: center;
}

.key-info {
    font-style: italic;
}

.key-content {
    height: 6rem;
}

.key-element {
    float: left;
    width: 3rem;
    height: 6rem;
}

.key-color {
    width: 3rem;
    height: 3rem;
    /* padding: 0.5rem; */
}

.key-number {
    width: 100%;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
}

.lg-button {
    font-size: 1.5rem;
    font-family: inherit;
    border: 0;
    cursor: pointer;

    color: white;
    background: linear-gradient(92.68deg, #7CB8F7 0%, #2A8BF2 100%);
    box-shadow: 0.5rem 0.5rem 2rem rgba(42, 139, 242, 0.15), 0.5rem 0.5rem 2rem rgba(42, 139, 242, 0.05), 1rem 0.5rem 2rem rgba(42, 139, 242, 0.15);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
}

.add-topic {
    position: fixed;
    right: 3rem;
    bottom: 2rem;
}