.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.graphic {
  padding: 3rem;
}

.graphic > img {
  display: block;
  margin: 3rem auto;
}

.desc {
  padding: 0px 4rem;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #093068;
}

.desc span {
  font-weight: bold;
}

.login-column {
  margin: 6rem auto;
  width: min(50%, 32rem);
}

.login_title {
  width: 100%;
  height: 4rem;
  font-family: 'Actor';
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 4rem;
  /* align-items: center; */
  text-align: center;
  color: #2A8BF2;
}

.uni_title {
  /* width: 61px; */
  height: 26px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  /* align-items: center; */
  /* text-align: left; */
  /* letter-spacing: 0.01em; */
  /* text-transform: capitalize; */
  color: #093068;
  margin-top: 1rem;
}

.uni_input {
  width: 100%;
  height: 40px;
  background: #F0F0F0;
  border: 2px solid #979797;
  box-sizing: border-box;
  border-radius: 8px;
  /* margin-top: 0.5rem; */
}

.pass_title {
  /* width: 100%; */
  height: 26px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  /* align-items: center; */
  /* text-align: center; */
  /* letter-spacing: 0.01em; */
  /* text-transform: capitalize; */
  color: #093068;
  margin-top: 1rem;
}

.pass_input {
  width: 100%;
  height: 40px;
  background: #F0F0F0;
  border: 2px solid #979797;
  box-sizing: border-box;
  border-radius: 8px;
}

.login {
  width: 100%;
  height: 60px;
  background: linear-gradient(92.68deg, #7CB8F7 0%, #2A8BF2 100%);
  box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
  border-radius: 6px;
  border: 1px solid #7CB8F7;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  margin-top: 3rem;
}

.sign_up {
  width: 100%;
  height: 60px;
  background: linear-gradient(92.68deg, #7A8795 0%, #81868B 100%);
  box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
  border-radius: 6px;
  border: 1px solid #7A8795;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  /* align-items: center; */
  text-align: center;
  /* text-transform: capitalize; */
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 1rem;
}

.footer {
  width: 100%;
  height: 35px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  display: flex;
  /* align-items: center; */
  text-align: center;
  color: #093068;
}

.footer > span {
  margin: 0 auto;
}